<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <!-- <link rel="stylesheet" href="/css/styleguide.css"/>-->
  </head>
  <body>
    <div class="header">
      <a href="/" class="icono">
        <img class="icono" src="/img/group-4489-1.svg" />
      </a>

      <% if(typeof user !== 'undefined' && typeof user.foto !== 'undefined'){ %>
      <div class="user-menu">
        <div class="dropdown">
          <a class="login" href="/cursos">Cursos</a>
          <div class="dropdown-content" id="Cursos">
            <a href="/cursos/1">1° Año</a>
            <a href="/cursos/2">2° Año</a>
            <a href="/cursos/3">3° Año</a>
            <a href="/cursos/4">4° Año</a>
            <a href="/cursos/5">5° Año</a>
            <a href="/cursos/6">6° Año</a>
          </div>
        </div>
        <a class="login" href="/">Sobre Nosotros</a>
        <div class="dropdown">
          <a href="/user">
            <img class="profile-pic" src="<%= user.foto %>" />
          </a>
          <div class="dropdown-content" id="Cuenta">
            <a href="/cuenta">Cuenta</a>
            <a href="/favoritos">Favoritos</a>
            <a href="/logout">Cerrar sesión</a>
          </div>
        </div>

      </div>
      <%} else{ %>
      <a class="login" href="/login">Inicio sesión</a>
      <img class="hamburger" src="/img/3lines.svg" />
      <div class="menu" id="menu">
        <a href="/login">Inicio sesión</a>
      </div>
      <% } %>
    </div>

    <script>
      document
        .querySelector(".hamburger")
        .addEventListener("click", function () {
          var menu = document.getElementById("menu");
          if (menu.style.display === "block") {
            menu.style.display = "none";
          } else {
            menu.style.display = "block";
          }
        });
    </script>
  </body>
</html>
