<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/styleguide.css" />
  <link rel="stylesheet" href="/css/globals.css" />
  <title>Inicio de Sesión - ApuntARQ</title>
</head>

<body>
  <%- include('header') %>

  <div class="login-page">
    <h1 class="titulo">ApuntARQ</h1>
    <p class="p">
      Te ayuda a comunicarte y a compartir apuntes que te serán útiles en
      tu formación profesional.
    </p>
    <a href="/auth/google" class="btn-google">
      <img class="image-google" src="img/image-7.png" />
      <div class="texto-login">Continuar con Google</div>
    </a>
  </div>
  <div class="ayuda">
    <img class="simb-pregunta" src="/img/question-lg-1.svg" />
    <img class="simb-chat" src="/img/chat-2.svg" />
  </div>
</body>

</html>
