<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/login/globals.css" />
    <link rel="stylesheet" href="/css/login/styleguide.css" />
    <link rel="stylesheet" href="/css/login/style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="div"></div>
          <div class="component">
            <div class="overlap-group">
              <img class="question-lg" src="/img/question-lg.svg" /> <img class="chat" src="/img/chat.svg" />
            </div>
          </div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper">ApuntARQ</div>
          <p class="p">Te ayuda a comunicarte y a compartir apuntes que te serán útiles en tu formación profesional.</p>
          <a href="/auth/google" class="btn-google">
            <div class="text-wrapper-2">Continuar con Google</div>
          </a>
          <div class="navlink"><img class="group" src="/img/group-4489-1.svg" /></div>
          <img class="image" src="img/image-7.png" />
        </div>
      </div>
    </div>
  </body>
</html>
