<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/user.css" />
  <link rel="stylesheet" href="/css/styleguide.css" />
  <link rel="stylesheet" href="/css/globals.css" />
  <title>Usuario - ApuntARQ</title>
</head>

<body>
  <%- include('header');-%>

  <div class="container">
    <div class="sidebar">
      <h1 class="titulo">Cuenta</h1>
      <img class="img" src="<%= user.foto %>" />
      <a class="cerrar_sesion" href="/logout">Cerrar Sesión</a>
    </div>
    <div class="content">
      <div class="datos_estudiante">
        <div class="dato">
          <span class="textouser"><%= user.nombre %></span>
          <img class="vector" src="/img/vector-87-2.svg" />
        </div>
        <div class="dato">
          <span class="textouser"><%= user.email %></span>
          <img class="vector" src="/img/vector-87-2.svg" />
        </div>
      </div>
    </div>
  </div>

  <div class="ayuda">
    <img class="simb-pregunta" src="/img/question-lg-1.svg" />
    <img class="simb-chat" src="/img/chat-2.svg" />
  </div>
</body>

</html>
