body {
  background-color: #fff;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container {
  padding: 40px;
  margin-top: 10vh;
}

.titulo {
  color: var(--Rojo, #CC2936);
  font-family: "Roboto Condensed";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.archivos {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una sola fila */
  gap: 10px; /* Espaciado entre los elementos */
}

.archivo {
  margin: 10px; /* Espaciado entre los elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.archivo a {
  text-decoration: none;
  color: #000;
}

.archivo a:hover {
  text-decoration: underline;
}

.archivo-icono {
  width: 170px;
  height: 125px;
  background-color: #d32f2f;
  margin-bottom: 10px;
  border-radius: 30px;
}

.archivo-nombre {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100px; /* Ajustar el valor según sea necesario */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archivo-descargar {
  font-size: 14px;
  color: #888;
}

.volver {
  background: none;
  color: #444;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 28px;
  }

  .archivo-nombre {
    font-size: 14px;
  }

  .archivo-descargar {
    font-size: 12px;
  }

  .volver {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 24px;
  }

  .archivo-nombre {
    font-size: 12px;
  }

  .archivo-descargar {
    font-size: 10px;
  }
}

/* Botón de diálogo */
.dialog-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d32f2f;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

/* Opciones de diálogo */
.dialog-options {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 10px;
}

.dialog-options button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dialog-options button:hover {
  background-color: #f0f0f0;
}

/* Estilos para la ventana emergente */
.popup {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  position: relative;
  min-width: 30%;
  min-height: 20%;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #000;
  background: var(--White, #FFF);
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-header img {
  margin-right: 10px; /* Ajusta el espacio entre la imagen y el título */
}

.popup-content h2 {
  margin: 0;
  color: var(--Rojo, #CC2936);
  font-family: "Roboto Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#popup-message {
  margin-top: 5%;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.266%; /* 28.384px */
}

/* Estilo para el mensaje de retroalimentación */
#popup-copiarenlace {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espacio interior */
  border-radius: 5px; /* Bordes redondeados */
  z-index: 9999; /* Z-index alto para que esté encima de todo */
}

#popup-marcarfav {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espacio interior */
  border-radius: 5px; /* Bordes redondeados */
  z-index: 9999; /* Z-index alto para que esté encima de todo */
}

.file-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.file-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 800px;
  height: 90%;
}

.file-modal-content iframe {
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  position: absolute;
  right: -25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

