body {
  background-size: cover;
  background-position: center;
  background-color: #f6f4f4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.container {
  width: 85%;
  height: 90vh;
  margin-top: 10%;
}

.titulo {
  margin-top: 2vh;
  color: var(--Monocrome-black, #000);
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 100%;
  display: flex;
  align-items: baseline; /* Alinea verticalmente los elementos */
}

.titulo h1 {
  margin: 0;
}

.titulo .semestre {
  font-weight: 400;
  margin-left: 10px;
  color: #888888;
  color: rgba(0, 0, 0, 0.60);
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(499px, 499px));
  grid-gap: 50px;
}

.separator{
  height: 5vh;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.color {
  background-color: #000;
  width: 100%;
  min-height: 75px;
  min-width: 399px;
  /* 75 y 499 to 60 y 399 */
}

.headerramo{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 75px; /* Puedes ajustar la altura según sea necesario */
  /*padding: 10px;*/
  text-align: center;
}

.nombreRamo{
  color: #444;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/*SIMBOLO PREGUNTA*/
.ayuda {
  position: fixed;
  bottom: 1%;
  right: 2%;
  bottom: 5%; /* Ajusta esta propiedad para mover el contenedor hacia arriba */
  width: 5%; /* Ajusta el ancho del contenedor según el tamaño de las imágenes */
  height: 5%; /* Ajusta la altura del contenedor según el tamaño de las imágenes */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.simb-pregunta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la imagen */
  width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  cursor: pointer;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}

.simb-chat {
  width: 100%; /* Ajusta el tamaño de las imágenes */
  height: 100%; /* Ajusta el tamaño de las imágenes */
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}

@media (max-width: 768px) {
  .ayuda {
    bottom: 3%; /* Ajusta la posición para pantallas medianas */
    right: 3%;
    width: 8%;
    height: 8%;
  }
}

@media (max-width: 480px) {
  .ayuda {
    bottom: 1%; /* Ajusta la posición para pantallas pequeñas */
    right: 5%;
    width: 10%;
    height: 10%;
  }
}

