body {
  background-color: #fff;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-top: 10vh;
}

.left-section, .right-section {
  width: 45%;
}

.see-all {
  text-align: right; /* Alinear a la derecha */
  width: 100%; /* Asegurar que ocupe todo el ancho del contenedor */
}

.titulo {
  color: var(--Rojo, #CC2936);
  font-family: "Roboto Condensed";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 616px;
}

.separator{
  height: 2vh;
}

.nombreRamo {
  color: rgba(0, 0, 0, 0.56);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.descripcion {
  color: var(--Monocrome-black, #000);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.609%; /* 28.226px */
}

.semestre-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.semestre {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.semestre.active {
  background-color: #d32f2f;
  color: var(--White, #FFF);
  font-family: Manjari-Bold, Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.semestre:not(.active) {
  background-color: white;
  border: 2px solid #d32f2f;
  color: var(--Monocrome-black, #000);
  font-family: Manjari-Bold, Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.volver {
  background: none;
  color: #444;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;

}

.resource{
font-family: Manjari-Bold, Helvetica;
}

.right-section .resource {
  margin-top: 10px;
}

.resource-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.date {
  margin-left: auto;
  margin-right: 10px;
  color: #999;
}

.dropdown {
  color: #999;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.editar, .subir {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.editar {
  background-color: white;
  color: #d32f2f;
  border: 2px solid #d32f2f;
}

.subir {
  background-color: #d32f2f;
  color: white;
}

.ayuda {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.simb-pregunta, .simb-chat {
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .right-section {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 28px;
  }

  .nombreRamo {
    font-size: 24px;
  }

  .descripcion {
    font-size: 14px;
  }

  .resource-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .date {
    margin-left: 0;
    margin-top: 5px;
  }

  .bottom-buttons {
    flex-direction: column;
    align-items: flex-end;
  }

  .editar, .subir {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 24px;
  }

  .nombreRamo {
    font-size: 20px;
  }

  .descripcion {
    font-size: 12px;
  }

  .semestre {
    font-size: 12px;
    padding: 8px 16px;
  }

  .resource-button {
    padding: 8px;
  }

  .icon, .date, .dropdown {
    font-size: 14px;
  }
}

/*SIMBOLO PREGUNTA*/
.ayuda {
position: fixed;
bottom: 1%;
right: 2%;
bottom: 5%; /* Ajusta esta propiedad para mover el contenedor hacia arriba */
width: 5%; /* Ajusta el ancho del contenedor según el tamaño de las imágenes */
height: 5%; /* Ajusta la altura del contenedor según el tamaño de las imágenes */
z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.simb-pregunta {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); /* Centra la imagen */
width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
height: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
cursor: pointer;
filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
  contrast(100%);
}

.simb-chat {
width: 100%; /* Ajusta el tamaño de las imágenes */
height: 100%; /* Ajusta el tamaño de las imágenes */
filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%)
  contrast(100%);
}

/* Estilos para la ventana modal */
/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions .cancel,
.form-actions .accept {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-actions .cancel {
  background-color: #f0f0f0;
}

.form-actions .accept {
  background-color: #d32f2f;
  color: #fff;
}

/* Estilos para el contenido de la categoría */
.category-content {
  display: none;
  padding-left: 20px;
  display: flex; /* Cambiar a flex para que los elementos se dispongan en una fila */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una sola fila */
}

.archivo {
  margin: 10px; /* Espaciado entre los elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.archivo a {
  text-decoration: none;
  color: #000;
}

.archivo a:hover {
  text-decoration: underline;
}

.archivo-icono {
  width: 170px;
  height: 125px;
  background-color: #d32f2f;
  margin-bottom: 10px;
  border-radius: 30px;
}

.archivo-nombre {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100px; /* Ajustar el valor según sea necesario */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archivo-descargar {
  font-size: 14px;
  color: #888;
}

.archivo-favorito {
  font-size: 14px;
  color: #888;
}

.archivo-compartir {
  font-size: 14px;
  color: #000000;
}

/* Estilos para la ventana emergente */
.popup {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  position: relative;
  min-width: 30%;
  min-height: 20%;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #000;
  background: var(--White, #FFF);
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-header img {
  margin-right: 10px; /* Ajusta el espacio entre la imagen y el título */
}

.popup-content h2 {
  margin: 0;
  color: var(--Rojo, #CC2936);
  font-family: "Roboto Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#popup-message {
  margin-top: 5%;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.266%; /* 28.384px */
}

.file-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.file-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 800px;
  height: 90%;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.file-modal-content iframe {
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
