body{
  padding-top: 80px;
  background-image: url("/img/image-6-1.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parra{
  position: absolute;
  width: 40%;
  top: 50%;
  left: 10%;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 150%;
  letter-spacing: 0;
  line-height: 35.5px;
}

.titulo{
  position: absolute;
  font-family: "Roboto Condensed", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 400%;
  letter-spacing: 0;
  line-height: normal;
  width: 40%;
  top: 20%;
  left: 10%;
}
