:root {
  --texto-font-family: "Inter", Helvetica;
  --texto-font-weight: 400;
  --texto-font-size: 20px;
  --texto-letter-spacing: 0px;
  --texto-line-height: 121.40395641326904%;
  --texto-font-style: normal;
  --variable-collection-monocrome-black: rgba(0, 0, 0, 1);
  --variable-collection-monocrome-gris: rgba(113, 113, 113, 1);
  --variable-collection-rojo: rgba(204, 41, 54, 1);
  --variable-collection-monocrome-rojo: var(--variable-collection-rojo);
  --variable-collection-fhkjehfkjedh: rgba(168, 2, 2, 1);
  --variable-collection-monocrome-rojo-pastel: rgba(255, 91, 104, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
